/CodeSniffer.conf
/phpcs.xml
/phpunit.xml
.idea/*
*.iml
/vendor/
composer.lock

# Ignore magento standards in source files.
CodeSniffer/Standards/AbstractSniffs
CodeSniffer/Standards/Utils
CodeSniffer/Standards/MEQP*

# Ignore build phar
/phpcs.phar
